<%=image_tag("profile.JPG", :id =>'pages')%><br>
<p>Kajal Agarwal</p>
<p>Computer Engineering Graduate, UCR</p>

<%= link_to "About", root_url %>

<%= link_to "Internship", intro_path %>

<%= link_to "Resume", resume_path %><br>
<a href="tel:+1-650-521-4465"><%=image_tag("phone.png", :id=>"contact")%></a>
<a href="mailto:kajalagarwal.7@gmail.com" target="_blank"><%=image_tag("mail.png", :id=>"contact")%></a>
<a href="https://www.linkedin.com/in/kajalagarwalucr"  target='_blank'><%=image_tag("Linkedin_logo.jpg",:id=>"contact")%></a><br>
 